apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
        - name: jenkins
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          env:
            - name: PASS
              valueFrom:
                secretKeyRef:
                  name: jenkins-secret
                  key: password
            - name: JAVA_OPTS
              value: {{ .Values.jenkins.javaOpts | quote }}

          ports:
            - name: http
              containerPort: {{ .Values.service.httpPort }}
            - name: agent
              containerPort: {{ .Values.service.agentPort }}

          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu | quote }}
              memory: {{ .Values.resources.requests.memory | quote }}
            limits:
              cpu: {{ .Values.resources.limits.cpu | quote }}
              memory: {{ .Values.resources.limits.memory | quote }}

          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
              subPath: sa2-33-25/dshauchenka/jenkins

      volumes:
        - name: jenkins-home
          nfs:
            server: {{ .Values.nfs.server }}
            path: {{ .Values.nfs.path }}

